<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="elab3.com.golubarskidnevnik">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_ikonica"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Letovi.IzmenaLeta"></activity>
        <activity android:name=".Golubovi.PrikazGoluba" />
        <activity
            android:name=".Golubovi.PomocniGolubovi"
            android:label="Izaberite opciju"
            android:theme="@style/Theme.AppCompat.Light.Dialog.Alert" />
        <activity android:name=".Letovi.PrikazLeta" />
        <activity android:name=".Letovi.DodajLet" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Golubovi.DodajGoluba"
            android:theme="@style/Theme.AppCompat.Light.Dialog.Alert" />
        <activity
            android:name=".Letovi.PomocniGoluboviULetuBrisanje"
            android:theme="@style/Theme.AppCompat.Light.Dialog.Alert" />
        <activity
            android:name=".Golubovi.ObrisiGoluba"
            android:theme="@style/Theme.AppCompat.Light.Dialog.Alert" />
        <activity
            android:name=".Letovi.DodajGoluboviULetu"
            android:theme="@style/Theme.AppCompat.Light.Dialog.Alert" />
    </application>

</manifest>